DB_ENGINE=django.db.backends.mysql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Solo en el servidor de producción con certificado HTTPS:
USAR_HTTPS=False